body { margin:10px; background-image: url("../images/wall.jpg"); }

.container {
  width:800px;
  margin:0 auto;
}

.barra {
  background-color:#000000;
  color: #ffffff;
  font-size: 20px;
  height: 20px; width: 700px;
}
#my_canvas{ 
  background:#000000; 
  border:#000 1px solid; 
}
.boton{
    color:red;
    font-size: 40px;
    background-color: #000000;
    cursor: pointer;
    border-radius: 8px;
    border:2px solid blue;
}
.boton:hover{
    background-color: white;
    color: #000000;
}